<div class="menu-bar" (clickOutside)="closeDropdown()">
  <div class="menu-left">
    <div class="apple-logo" (click)="onAppleMenuClick()">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
        <path
          d="M18.71 19.5c-.83 1.24-1.71 2.45-3.05 2.47-1.34.03-1.77-.79-3.29-.79-1.53 0-2 .77-3.27.82-1.31.05-2.3-1.32-3.14-2.53C4.25 17 2.94 12.45 4.7 9.39c.87-1.52 2.43-2.48 4.12-2.51 1.28-.02 2.5.87 3.29.87.78 0 2.26-1.07 3.81-.91.65.03 2.47.26 3.64 1.98-.09.06-2.17 1.28-2.15 3.81.03 3.02 2.65 4.03 2.68 4.04-.03.07-.42 1.44-1.38 2.83M13 3.5c.73-.83 1.94-1.46 2.94-1.5.13 1.17-.34 2.35-1.04 3.19-.69.85-1.83 1.51-2.95 1.42-.15-1.15.41-2.35 1.05-3.11z"
        />
      </svg>
      <div class="dropdown-menu" *ngIf="activeDropdown === 'apple'">
        <div class="dropdown-item" (click)="onDropdownAction('about')">O tym Macu</div>
        <div class="dropdown-separator"></div>
        <div class="dropdown-item" (click)="onDropdownAction('preferences')">
          Preferencje systemowe...
        </div>
        <div class="dropdown-separator"></div>
        <div class="dropdown-item" (click)="onDropdownAction('sleep')">Uśpij</div>
        <div class="dropdown-item" (click)="onDropdownAction('restart')">Uruchom ponownie...</div>
        <div class="dropdown-item" (click)="onDropdownAction('shutdown')">Wyłącz...</div>
      </div>
    </div>
    <div
      class="menu-item"
      (click)="toggleDropdown('finder')"
      (mouseenter)="(activeDropdown === 'finder' ? null : activeDropdown)"
    >
      Finder
      <div class="dropdown-menu" *ngIf="activeDropdown === 'finder'">
        <div class="dropdown-item" (click)="onDropdownAction('new-window')">Nowe okno</div>
        <div class="dropdown-item" (click)="onDropdownAction('new-folder')">Nowy folder</div>
        <div class="dropdown-separator"></div>
        <div class="dropdown-item" (click)="onDropdownAction('get-info')">Pokaż informacje</div>
      </div>
    </div>
    <div class="menu-item" (click)="toggleDropdown('edit')">
      Edycja
      <div class="dropdown-menu" *ngIf="activeDropdown === 'edit'">
        <div class="dropdown-item" (click)="onDropdownAction('undo')">Cofnij</div>
        <div class="dropdown-item" (click)="onDropdownAction('redo')">Ponów</div>
        <div class="dropdown-separator"></div>
        <div class="dropdown-item" (click)="onDropdownAction('cut')">Wytnij</div>
        <div class="dropdown-item" (click)="onDropdownAction('copy')">Kopiuj</div>
        <div class="dropdown-item" (click)="onDropdownAction('paste')">Wklej</div>
      </div>
    </div>
    <div class="menu-item" (click)="toggleDropdown('view')">
      Widok
      <div class="dropdown-menu" *ngIf="activeDropdown === 'view'">
        <div class="dropdown-item" (click)="onDropdownAction('icons')">Ikony</div>
        <div class="dropdown-item" (click)="onDropdownAction('list')">Lista</div>
        <div class="dropdown-item" (click)="onDropdownAction('columns')">Kolumny</div>
      </div>
    </div>
    <div class="menu-item" (click)="toggleDropdown('window')">
      Okno
      <div class="dropdown-menu" *ngIf="activeDropdown === 'window'">
        <div class="dropdown-item" (click)="onDropdownAction('minimize')">Zminimalizuj</div>
        <div class="dropdown-item" (click)="onDropdownAction('zoom')">Powiększ</div>
        <div class="dropdown-separator"></div>
        <div class="dropdown-item" (click)="onDropdownAction('bring-all')">
          Przesuń wszystkie na wierzch
        </div>
      </div>
    </div>
    <div class="menu-item" (click)="toggleDropdown('help')">
      Pomoc
      <div class="dropdown-menu" *ngIf="activeDropdown === 'help'">
        <div class="dropdown-item" (click)="onDropdownAction('help-center')">Centrum pomocy</div>
        <div class="dropdown-separator"></div>
        <div class="dropdown-item" (click)="onDropdownAction('about-app')">O tej aplikacji</div>
      </div>
    </div>
  </div>
  <div class="menu-right">
    
    <div class="system-icons">
      <div class="system-icon" (click)="toggleDropdown('notifications')" title="Powiadomienia">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"
          />
        </svg>
        <div class="dropdown-menu" *ngIf="activeDropdown === 'notifications'">
          <div class="dropdown-item" (click)="onDropdownAction('notifications')">
            {{ notificationsEnabled ? 'Wyłącz powiadomienia' : 'Włącz powiadomienia' }}
          </div>
        </div>
      </div>

      <div class="system-icon" (click)="toggleDropdown('wifi')" title="Wi-Fi">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M1 9l2 2c4.97-4.97 13.03-4.97 18 0l2-2C16.93 2.93 7.07 2.93 1 9zm8 8l3 3 3-3c-1.65-1.65-4.35-1.65-6 0zm-4-4l2 2c2.76-2.76 7.24-2.76 10 0l2-2C15.14 9.14 8.87 9.14 5 13z"
          />
        </svg>
        <div class="dropdown-menu" *ngIf="activeDropdown === 'wifi'">
          <div class="dropdown-item" (click)="onDropdownAction('wifi')">
            {{ wifiEnabled ? 'Wyłącz Wi-Fi' : 'Włącz Wi-Fi' }}
          </div>
        </div>
      </div>

      <div class="system-icon" (click)="toggleDropdown('bluetooth')" title="Bluetooth">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M17.71 7.71L12 2h-1v7.59L6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 11 14.41V22h1l5.71-5.71-4.3-4.29 4.3-4.29zM13 5.83l1.88 1.88L13 9.59V5.83zm1.88 10.46L13 18.17v-3.76l1.88 1.88z"
          />
        </svg>
        <div class="dropdown-menu" *ngIf="activeDropdown === 'bluetooth'">
          <div class="dropdown-item" (click)="onDropdownAction('bluetooth')">
            {{ bluetoothEnabled ? 'Wyłącz Bluetooth' : 'Włącz Bluetooth' }}
          </div>
        </div>
      </div>

      <div class="system-icon" (click)="toggleDropdown('volume')" title="Głośność">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"
          />
        </svg>
        <div class="dropdown-menu" *ngIf="activeDropdown === 'volume'">
          <div class="dropdown-item" (click)="onDropdownAction('volume')">
            {{ volumeLevel > 0 ? 'Wycisz' : 'Włącz dźwięk' }}
          </div>
        </div>
      </div>

      <div class="system-icon battery-icon" (click)="toggleDropdown('battery')" title="Bateria">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M15.67 4H14V2h-4v2H8.33C7.6 4 7 4.6 7 5.33v15.33C7 21.4 7.6 22 8.33 22h7.33c.74 0 1.34-.6 1.34-1.33V5.33C17 4.6 16.4 4 15.67 4z"
          />
        </svg>
        <span class="battery-percentage">{{ batteryLevel }}%</span>
        <div class="dropdown-menu" *ngIf="activeDropdown === 'battery'">
          <div class="dropdown-item" (click)="onDropdownAction('battery')">
            Poziom baterii: {{ batteryLevel }}%
          </div>
        </div>
      </div>
    </div>

   
    <div class="datetime">
      <span class="time">{{ formatTime(currentTime) }}</span>
      <span class="date">{{ formatDate(currentTime) }}</span>
    </div>
  </div>
</div>
